* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #ffffff;
    color: #191A23;
  }
  
  .container {
    width: 1200px;
    margin: auto;
    padding: 80px 0;
  }
  
  
  .logos {
    margin-top: 40px;
    display: /* HERO */
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero-left h1 {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .hero-left p {
    max-width: 500px;
    margin-bottom: 25px;
    color: #555;
  }
  
  .btn-dark {
    background: #191A23;
    color: #fff;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  flex;
    gap: 40px;
    color: #777;
    font-weight: bold;
  }
  
  /* SERVICES */
  .services h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .service-card {
    background: #B9FF66;
    padding: 40px;
    border-radius: 20px;
    width: 500px;
  }
  
  .service-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .service-card a {
    text-decoration: none;
    color: #191A23;
    font-weight: bold;
  }
  
  /* PROCESS */
  .process h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .process-item {
    display: flex;
    align-items: center;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  
  .process-item.active {
    background: #B9FF66;
  }
  
  .number {
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  /* CONTACT */
  .contact h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .contact input,
  .contact textarea {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .contact textarea {
    height: 120px;
  }
  
  /* FOOTER */
  footer {
    background: #191A23;
    color: white;
    padding: 30px 0;
  }
  
  .footer-content {
    text-align: center;
  }
  .logos span {
    font-weight: bold;
    font-size: 18px;
    color: #777;
  }
/* NAVBAR */

.navbar {
    padding: 25px 0;
    background: #fff;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #191A23;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #B9FF66;
  }
  
  .btn-outline {
    padding: 10px 20px;
    border: 1px solid #191A23;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .btn-outline:hover {
    background: #191A23;
    color: white;
  }
    
  